h1 {
  text-align: center;
  color: rgb(190, 16, 16);

}

img {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

p {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

body{
  background-color: rgba(245, 230, 217, 0.76);
}